<%- include("header") -%>

<h2>This is the about page</h2>

<p>Default Values</p>

<form id="postForm" action="/services" method="post">
    <input type="text" name="postClient">
    <input type="text" name="datetime">
    <input type="text" name="content">
    <input type="text" name="location">
    <input type="submit">
</form>

<%- include("footer") -%>
